In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('chicago.csv',index_col=False)

In [3]:
#while city != 'chicago' or 'new york city' or 'washington':
df.head()
df.groupby('Start Station')['Trip Duration'].mean()

Start Station
2112 W Peterson Ave              988.714286
63rd St Beach                   2136.430108
900 W Harrison St                565.516060
Aberdeen St & Jackson Blvd       603.638504
Aberdeen St & Monroe St          621.749412
                                   ...
Wood St & Milwaukee Ave          947.592516
Wood St & Taylor St              752.153704
Woodlawn Ave & 55th St           656.355372
Woodlawn Ave & Lake Park Ave    1232.903846
Yates Blvd & 75th St            2496.250000
Name: Trip Duration, Length: 568, dtype: float64

In [4]:
df['Start Time'] = pd.to_datetime(df['Start Time'])
month='may'
day='sunday'
df['hour'] = df['Start Time'].dt.hour
df['day'] = df['Start Time'].dt.day
df['month'] = df['Start Time'].dt.month
df['day_of_week'] = df['Start Time'].dt.weekday
if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month)+1
    
        df = df[df['month']==month]
if day != 'all':
        days = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday']
        day = days.index(day)+1
        df = df[df['day_of_week']==day]

In [5]:
df['hour'].mode()

0    17
dtype: int64

In [6]:
import time
import pandas as pd
import numpy as np


CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.
    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # TO DO: get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    while True:
        city= input('Please specify a city (chicago,new york city,washington): ').lower()
        if city in ['chicago','new york city','washington']:
            break
        else:
            print('please enter a valid city name.')
            continue            
    
    # TO DO: get user input for month (all, january, february, ... , june)
    while True:
        month= input('Please specify a month or all (january, february, march, april, may, june,all): ').lower()
        if month in ['january','fibruary','march','april','may','june','july','august','september','october','november','december']:
            break
        else:
            print('please enter a valid month name.')
            continue 

    # TO DO: get user input for day of week (all, monday, tuesday, ... sunday)

    while True:
        day= input('Please specify a specific day or type all: ').lower()
        if day in ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']:
            break
        else:
            print('please enter a valid day name.')
            continue 
    print('-'*40)
    return city, month, day


def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """
    df= pd.read_csv(CITY_DATA[city])
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.weekday


    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june','all']
        month = months.index(month)+1
    
        df = df[df['month']==month]

    if day != 'all':
        days = ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday','all']
        day = days.index(day)+1
        df = df[df['day_of_week']==day]


    return df


def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # TO DO: display the most common month
    print('Most common month is: ', df['month'].mode()[0])

    # TO DO: display the most common day of week
    print('Most common day of the week is: ', df['day_of_week'].mode()[0])


    # TO DO: display the most common start hour
    print('Most common start hour is: ', df['Start Time'].dt.hour.mode()[0])


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # TO DO: display most commonly used start station
    print('Most commonly used start station: ', df['Start Station'].mode()[0])

    # TO DO: display most commonly used end station
    print('Most commonly used end station: ', df['End Station'].mode()[0])


    # TO DO: display most frequent combination of start station and end station trip
    df['Station Combination'] = df['Start Station'] + ' and ' + df['End Station']
    print('Most frequent combination of start and end stations trips: \n',df['Station Combination'].mode()[0])


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # TO DO: display total travel time
    print('Total travel time: ',sum(df['Trip Duration']))

    # TO DO: display mean travel time
    print('Mean travel time: ',df['Trip Duration'].mean())


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # TO DO: Display counts of user types
    print('User types: \n', df['User Type'].value_counts())
    if 'Gender' and 'Birth Year' in df:
        # TO DO: Display counts of gender
        print('Gender: \n', df['Gender'].value_counts())

        # TO DO: Display earliest, most recent, and most common year of birth
        print('Earliest year of birth: ', int(df['Birth Year'].min()))
        print('Most recent year of birth: ', int(df['Birth Year'].max()))
        print('Most common year of birth: ', int(df['Birth Year'].mode()))
        print("\nThis took %s seconds." % (time.time() - start_time))
        print('-'*40)
    else:
        print('-'*40)

def display_data(df): # Taken from https://knowledge.udacity.com/questions/239987
    
    i=-5
    while True:           
            x=input('\nWould you like to see 5 rows of raw data of this csv file? (yes/no)\n').lower()
            i=i+5
            if x=='yes':
                print(df[i:i+5])
                continue
            if x=='no':
                break 
    
        
def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)
        display_data(df)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break


if __name__ == "__main__":
	main()

Hello! Let's explore some US bikeshare data!
Please specify a city (chicago,new york city,washington): washington
Please specify a month or all (january, february, march, april, may, june,all): january
Please specify a specific day or type all: monday
----------------------------------------

Calculating The Most Frequent Times of Travel...

Most common month is:  1
Most common day of the week is:  2
Most common start hour is:  8

This took 0.002958536148071289 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

Most commonly used start station:  Columbus Circle / Union Station
Most commonly used end station:  Columbus Circle / Union Station
Most frequent combination of start and end stations trips:
 Massachusetts Ave & Dupont Circle NW and 15th & P St NW

This took 0.029847383499145508 seconds.
----------------------------------------

Calculating Trip Duration...

Total travel time:  4465881.145000002
Mean travel time:  846.9336516214684

This took 0.0009968280792236328 seconds.
----------------------------------------

Calculating User Stats...

User types:
 Subscriber    4812
Customer       461
Name: User Type, dtype: int64
----------------------------------------

Would you like to see 5 rows of raw data of this csv file? (yes/no)
no

Would you like to restart? Enter yes or no.
no

In [7]:
f=pd.read_csv('washington.csv')
f.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber

In [8]:
a=pd.read_csv('new_york_city.csv')
a.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0

In [9]:
b=pd.read_csv('chicago.csv')
b.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [10]:
b['Station Combination'] = b['Start Station'] + ' and ' + b['End Station']
print('The most frequent combination of start station and end station trip: \n',b['Station Combination'].mode()[0])

The most frequent combination of start station and end station trip:
 Lake Shore Dr & Monroe St and Streeter Dr & Grand Ave

In [13]:
sudo apt-get install texlive-xetex texlive-fonts-recommended texlive-generic-recommended

SyntaxError: invalid syntax (<ipython-input-13-cbd2bcef690b>, line 1)